<div class="md:pl-4">
  <sidebar-item title="Home" routerLink="/">
    <home-icon></home-icon>
  </sidebar-item>

  <sidebar-item title="Status" routerLink="/admin/status">
    <status-icon></status-icon>
  </sidebar-item>

  <sidebar-item title="Archives" routerLink="/admin/archives">
    <archive-icon></archive-icon>
  </sidebar-item>

  <sidebar-item title="Credits" routerLink="/admin/credits">
    <credit-icon></credit-icon>
  </sidebar-item>

  <sidebar-item title="Settings" routerLink="/admin/settings">
    <settings-icon></settings-icon>
  </sidebar-item>

  <sidebar-item title="Documentation" routerLink="/admin/documentation">
    <doc-icon></doc-icon>
  </sidebar-item>
</div>
