<div>
  <sidebar-item-section name="Apps">
    <sidebar-item title="All apps" routerLink="/">
      <apps-icon></apps-icon>
    </sidebar-item>
    <sidebar-item title="Updates" routerLink="/admin/updates">
      <updates-icon></updates-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section name="Categories">
    <sidebar-item title="Photography" routerLink="/admin/photography">
      <photography-icon></photography-icon>
    </sidebar-item>
    <sidebar-item title="Graphic Design" routerLink="/admin/graphic-design">
      <graphic-design-icon></graphic-design-icon>
    </sidebar-item>
    <sidebar-item title="Videos" routerLink="/admin/videos">
      <video-icon></video-icon>
    </sidebar-item>
    <sidebar-item title="Illustration" routerLink="/admin/illustration">
      <illustration-icon></illustration-icon>
    </sidebar-item>
    <sidebar-item title="UI/UX" routerLink="/admin/ux">
      <ux-icon></ux-icon>
    </sidebar-item>
    <sidebar-item title="3D/AR" routerLink="/admin/ar">
      <ar-icon></ar-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section name="Guides">
    <sidebar-item title="Documentation" routerLink="/admin/documentation">
      <doc-icon></doc-icon>
    </sidebar-item>
  </sidebar-item-section>
</div>
