<div>
  <collapse>
    <div item class="flex">
      <doc-icon></doc-icon> <span class="pl-3">Documents</span>
    </div>
    <div panel>
      <sidebar-item title="Taxes" routerLink="/documents/taxes" />
      <sidebar-item title="Travel" routerLink="/documents/travel" />
      <sidebar-item title="Insurance" routerLink="/documents/insurance" />
    </div>
  </collapse>

  <collapse>
    <div item class="flex">
      <message-icon></message-icon> <span class="pl-3">Messages</span>
    </div>
    <div panel>
      <sidebar-item title="Unbox" routerLink="/messages/unbox" />
      <sidebar-item title="Unread" routerLink="/messages/unread" />
      <sidebar-item title="Archived" routerLink="/messages/archived" />
    </div>
  </collapse>

  <collapse>
    <div item class="flex">
      <picture-icon></picture-icon> <span class="pl-3">Pictures</span>
    </div>
    <div panel>
      <sidebar-item title="Vacations" routerLink="/pictures/vacations" />
      <sidebar-item title="Anniversary" routerLink="/pictures/anniversary" />
      <sidebar-item title="University" routerLink="/pictures/university" />
    </div>
  </collapse>

  <collapse>
    <div item class="flex">
      <stat-icon></stat-icon> <span class="pl-3">Statistics</span>
    </div>
    <div panel>
      <sidebar-item title="Finances" routerLink="/statistics/finances" />
      <sidebar-item title="Call Stats" routerLink="/statistics/call-stats" />
      <sidebar-item title="Trip Logs" routerLink="/statistics/trip-logs" />
    </div>
  </collapse>

  <collapse>
    <div item class="flex">
      <event-icon></event-icon> <span class="pl-3">Events</span>
    </div>
    <div panel>
      <sidebar-item title="Weddings" routerLink="/events/weddings" />
      <sidebar-item title="Networking" routerLink="/events/networking" />
    </div>
  </collapse>

  <collapse>
    <div item class="flex">
      <guide-icon></guide-icon> <span class="pl-3">Guides</span>
    </div>
    <div panel>
      <sidebar-item title="Documentation" routerLink="/guides/documentation" />
    </div>
  </collapse>
</div>
