<div>
  <div class="border-b py-2">
    <sidebar-item title="Dashboard" routerLink="/">
      <dashboard-icon></dashboard-icon>
    </sidebar-item>
    <sidebar-item title="Projects" routerLink="/admin/projects">
      <project-icon></project-icon>
    </sidebar-item>
  </div>

  <div class="border-b py-2">
    <sidebar-item title="My tasks" routerLink="/admin/tasks">
      <task-icon></task-icon>
    </sidebar-item>
    <sidebar-item title="Calendar" routerLink="/admin/calendar">
      <calendar-icon></calendar-icon>
    </sidebar-item>
    <sidebar-item title="Time Manage" routerLink="/admin/time-manage">
      <time-manage-icon></time-manage-icon>
    </sidebar-item>
  </div>

  <div>
    <sidebar-item title="Reports" routerLink="/admin/reports">
      <report-icon></report-icon>
    </sidebar-item>
    <sidebar-item title="Settings" routerLink="/admin/settings">
      <settings-icon></settings-icon>
    </sidebar-item>
    <sidebar-item title="Documentation" routerLink="/admin/documentation">
      <doc-icon></doc-icon>
    </sidebar-item>
  </div>
</div>
