<div class="md:pl-5">
  <sidebar-item title="Home" routerLink="/">
    <home-icon></home-icon>
  </sidebar-item>

  <sidebar-item title="Bills" routerLink="/admin/bills">
    <bill-icon></bill-icon>
  </sidebar-item>

  <sidebar-item title="Applications" routerLink="/admin/applications">
    <app-icon></app-icon>
  </sidebar-item>

  <sidebar-item title="Monitoring" routerLink="/admin/monitoring">
    <monitoring-icon></monitoring-icon>
  </sidebar-item>

  <sidebar-item title="Demographics" routerLink="/admin/demographics">
    <demographic-icon></demographic-icon>
  </sidebar-item>

  <sidebar-item title="Analytics" routerLink="/admin/analytics">
    <analytic-icon></analytic-icon>
  </sidebar-item>

  <sidebar-item title="Documentation" routerLink="/admin/documentation">
    <doc-icon></doc-icon>
  </sidebar-item>
</div>
