<div class="md:pl-6">
  <sidebar-item title="Users" routerLink="/">
    <user-icon></user-icon>
  </sidebar-item>

  <sidebar-item title="Medias" routerLink="/admin/medias">
    <media-icon></media-icon>
  </sidebar-item>

  <sidebar-item title="Contacts" routerLink="/admin/contacts">
    <contact-icon></contact-icon>
  </sidebar-item>

  <sidebar-item title="Servers" routerLink="/admin/servers">
    <server-icon></server-icon>
  </sidebar-item>

  <sidebar-item title="Settings" routerLink="/admin/settings">
    <settings-icon></settings-icon>
  </sidebar-item>

  <sidebar-item title="Terminal" routerLink="/admin/terminal">
    <terminal-icon></terminal-icon>
  </sidebar-item>

  <sidebar-item title="Recycle Bin" routerLink="/admin/recycle-bin">
    <recycle-bin-icon></recycle-bin-icon>
  </sidebar-item>

  <sidebar-item title="Documentation" routerLink="/admin/documentation">
    <doc-icon></doc-icon>
  </sidebar-item>
</div>
